/* 
This custom CSSis  to solve the Block Editor resposive issue 
Use with https://wordpress.org/plugins/css-class-manager/ see the tutorial here: https://youtu.be/uAkUVwAd_cE 
*/

.font-12px {
    font-size: 12px !important;
}
.font-14px {
    font-size: 14px !important;
}
.font-16px {
    font-size: 16px !important;
}
.font-18px {
    font-size: 18px !important;
}
.font-20px {
    font-size: 20px !important;
}
.font-22px {
    font-size: 22px !important;
}
.font-24px {
    font-size: 24px !important;
}
.font-26px {
    font-size: 26px !important;
}
.font-28px {
    font-size: 28px !important;
}
.font-30px {
    font-size: 30px !important;
}
.font-32px {
    font-size: 32px !important;
}
.font-34px {
    font-size: 34px !important;
}
.font-36px {
    font-size: 36px !important;
}
.font-38px {
    font-size: 38px !important;
}
.font-40px {
    font-size: 40px !important;
}
.font-42px {
    font-size: 42px !important;
}
.font-44px {
    font-size: 44px !important;
}
.font-46px {
    font-size: 46px !important;
}
.font-48px {
    font-size: 48px !important;
}
.font-50px {
    font-size: 50px !important;
}
.font-52px {
    font-size: 52px !important;
}
.font-54px {
    font-size: 54px !important;
}
.font-56px {
    font-size: 56px !important;
}
.font-58px {
    font-size: 58px !important;
}
.font-60px {
    font-size: 60px !important;
}
.font-62px {
    font-size: 62px !important;
}
.font-64px {
    font-size: 64px !important;
}
.font-66px {
    font-size: 66px !important;
}
.font-68px {
    font-size: 68px !important;
}
.font-70px {
    font-size: 70px !important;
}
.font-72px {
    font-size: 72px !important;
}
.font-74px {
    font-size: 74px !important;
}
.font-76px {
    font-size: 76px !important;
}
.font-78px {
    font-size: 78px !important;
}
.font-80px {
    font-size: 80px !important;
}
.font-82px {
    font-size: 82px !important;
}
.font-84px {
    font-size: 84px !important;
}
.font-86px {
    font-size: 86px !important;
}
.font-88px {
    font-size: 88px !important;
}
.font-90px {
    font-size: 90px !important;
}
.fluid-gap-16_24 {
    gap: var(--fluid-16_24) !important;
}
.fluid-mar-top-16_24 {
    margin-top: var(--fluid-16_24) !important;
}
.force-flex-col-cf {
    display: flex;
    flex-direction: column;
}
.display-none {
    display: none !important;
}
.show {
    display: inherit !important;
}
.visible {
    visibility: visible !important;
}
.hidden {
    visibility: hidden !important;
}
.overflow-hidden {
    overflow: hidden !important;
}
.overflow-auto {
    overflow: auto !important;
}
.overflow-x-hidden {
    overflow-x: hidden !important;
}
.overflow-x-auto {
    overflow-x: auto !important;
}
.overflow-y-hidden {
    overflow-y: hidden !important;
}
.overflow-y-auto {
    overflow-y: auto !important;
}
.list-none {
    list-style-type: none !important;
}
.white-space-nowrap {
    white-space: nowrap !important;
}
.transition-global {
    transition: all 0.3s !important;
}
@media (max-width: 992px) {
    :root {
        --space-0: 0px;
        --space-5: 5px;
        --space-10: 10px;
        --space-15: 15px;
        --space-20: 20px;
        --space-25: 25px;
        --space-30: 30px;
        --space-35: 35px;
        --space-40: 40px;
        --space-45: 45px;
        --space-50: 50px;
        --space-55: 55px;
        --space-60: 60px;
        --space-70: 70px;
        --space-80: 80px;
        --space-90: 90px;
        --space-100: 100px;
    }
    .font-tab-12px {
        font-size: 12px !important;
    }
    .font-tab-14px {
        font-size: 14px !important;
    }
    .font-tab-16px {
        font-size: 16px !important;
    }
    .font-tab-18px {
        font-size: 18px !important;
    }
    .font-tab-20px {
        font-size: 20px !important;
    }
    .font-tab-22px {
        font-size: 22px !important;
    }
    .font-tab-24px {
        font-size: 24px !important;
    }
    .font-tab-26px {
        font-size: 26px !important;
    }
    .font-tab-28px {
        font-size: 28px !important;
    }
    .font-tab-30px {
        font-size: 30px !important;
    }
    .font-tab-32px {
        font-size: 32px !important;
    }
    .font-tab-34px {
        font-size: 34px !important;
    }
    .font-tab-36px {
        font-size: 36px !important;
    }
    .font-tab-38px {
        font-size: 38px !important;
    }
    .font-tab-40px {
        font-size: 40px !important;
    }
    .font-tab-42px {
        font-size: 42px !important;
    }
    .font-tab-44px {
        font-size: 44px !important;
    }
    .font-tab-46px {
        font-size: 46px !important;
    }
    .font-tab-48px {
        font-size: 48px !important;
    }
    .font-tab-50px {
        font-size: 50px !important;
    }
    .font-tab-52px {
        font-size: 52px !important;
    }
    .font-tab-54px {
        font-size: 54px !important;
    }
    .font-tab-56px {
        font-size: 56px !important;
    }
    .font-tab-58px {
        font-size: 58px !important;
    }
    .font-tab-60px {
        font-size: 60px !important;
    }
    .font-tab-62px {
        font-size: 62px !important;
    }
    .font-tab-64px {
        font-size: 64px !important;
    }
    .font-tab-66px {
        font-size: 66px !important;
    }
    .font-tab-68px {
        font-size: 68px !important;
    }
    .font-tab-70px {
        font-size: 70px !important;
    }
    .font-tab-72px {
        font-size: 72px !important;
    }
    .font-tab-74px {
        font-size: 74px !important;
    }
    .font-tab-76px {
        font-size: 76px !important;
    }
    .font-tab-78px {
        font-size: 78px !important;
    }
    .font-tab-80px {
        font-size: 80px !important;
    }
    .font-tab-82px {
        font-size: 82px !important;
    }
    .font-tab-84px {
        font-size: 84px !important;
    }
    .font-tab-86px {
        font-size: 86px !important;
    }
    .font-tab-88px {
        font-size: 88px !important;
    }
    .font-tab-90px {
        font-size: 90px !important;
    }
    .pad-tab-0 {
        padding: var(--space-0) !important;
    }
    .pad-tab-5 {
        padding: var(--space-5) !important;
    }
    .pad-tab-10 {
        padding: var(--space-10) !important;
    }
    .pad-tab-15 {
        padding: var(--space-15) !important;
    }
    .pad-tab-20 {
        padding: var(--space-20) !important;
    }
    .pad-tab-25 {
        padding: var(--space-25) !important;
    }
    .pad-tab-30 {
        padding: var(--space-30) !important;
    }
    .pad-tab-35 {
        padding: var(--space-35) !important;
    }
    .pad-tab-40 {
        padding: var(--space-40) !important;
    }
    .pad-tab-45 {
        padding: var(--space-45) !important;
    }
    .pad-tab-50 {
        padding: var(--space-50) !important;
    }
    .pad-tab-55 {
        padding: var(--space-55) !important;
    }
    .pad-tab-60 {
        padding: var(--space-60) !important;
    }
    .pad-top-tab-0 {
        padding-top: var(--space-0) !important;
    }
    .pad-top-tab-5 {
        padding-top: var(--space-5) !important;
    }
    .pad-top-tab-10 {
        padding-top: var(--space-10) !important;
    }
    .pad-top-tab-15 {
        padding-top: var(--space-15) !important;
    }
    .pad-top-tab-20 {
        padding-top: var(--space-20) !important;
    }
    .pad-top-tab-25 {
        padding-top: var(--space-25) !important;
    }
    .pad-top-tab-30 {
        padding-top: var(--space-30) !important;
    }
    .pad-top-tab-35 {
        padding-top: var(--space-35) !important;
    }
    .pad-top-tab-40 {
        padding-top: var(--space-40) !important;
    }
    .pad-top-tab-45 {
        padding-top: var(--space-45) !important;
    }
    .pad-top-tab-50 {
        padding-top: var(--space-50) !important;
    }
    .pad-top-tab-55 {
        padding-top: var(--space-55) !important;
    }
    .pad-top-tab-60 {
        padding-top: var(--space-60) !important;
    }
    .pad-right-tab-0 {
        padding-right: var(--space-0) !important;
    }
    .pad-right-tab-5 {
        padding-right: var(--space-5) !important;
    }
    .pad-right-tab-10 {
        padding-right: var(--space-10) !important;
    }
    .pad-right-tab-15 {
        padding-right: var(--space-15) !important;
    }
    .pad-right-tab-20 {
        padding-right: var(--space-20) !important;
    }
    .pad-right-tab-25 {
        padding-right: var(--space-25) !important;
    }
    .pad-right-tab-30 {
        padding-right: var(--space-30) !important;
    }
    .pad-right-tab-35 {
        padding-right: var(--space-35) !important;
    }
    .pad-right-tab-40 {
        padding-right: var(--space-40) !important;
    }
    .pad-right-tab-45 {
        padding-right: var(--space-45) !important;
    }
    .pad-right-tab-50 {
        padding-right: var(--space-50) !important;
    }
    .pad-right-tab-55 {
        padding-right: var(--space-55) !important;
    }
    .pad-right-tab-60 {
        padding-right: var(--space-60) !important;
    }
    .pad-bottom-tab-0 {
        padding-bottom: var(--space-0) !important;
    }
    .pad-bottom-tab-5 {
        padding-bottom: var(--space-5) !important;
    }
    .pad-bottom-tab-10 {
        padding-bottom: var(--space-10) !important;
    }
    .pad-bottom-tab-15 {
        padding-bottom: var(--space-15) !important;
    }
    .pad-bottom-tab-20 {
        padding-bottom: var(--space-20) !important;
    }
    .pad-bottom-tab-25 {
        padding-bottom: var(--space-25) !important;
    }
    .pad-bottom-tab-30 {
        padding-bottom: var(--space-30) !important;
    }
    .pad-bottom-tab-35 {
        padding-bottom: var(--space-35) !important;
    }
    .pad-bottom-tab-40 {
        padding-bottom: var(--space-40) !important;
    }
    .pad-bottom-tab-45 {
        padding-bottom: var(--space-45) !important;
    }
    .pad-bottom-tab-50 {
        padding-bottom: var(--space-50) !important;
    }
    .pad-bottom-tab-55 {
        padding-bottom: var(--space-55) !important;
    }
    .pad-bottom-tab-60 {
        padding-bottom: var(--space-60) !important;
    }
    .pad-left-tab-0 {
        padding-left: var(--space-0) !important;
    }
    .pad-left-tab-5 {
        padding-left: var(--space-5) !important;
    }
    .pad-left-tab-10 {
        padding-left: var(--space-10) !important;
    }
    .pad-left-tab-15 {
        padding-left: var(--space-15) !important;
    }
    .pad-left-tab-20 {
        padding-left: var(--space-20) !important;
    }
    .pad-left-tab-25 {
        padding-left: var(--space-25) !important;
    }
    .pad-left-tab-30 {
        padding-left: var(--space-30) !important;
    }
    .pad-left-tab-35 {
        padding-left: var(--space-35) !important;
    }
    .pad-left-tab-40 {
        padding-left: var(--space-40) !important;
    }
    .pad-left-tab-45 {
        padding-left: var(--space-50) !important;
    }
    .pad-left-tab-50 {
        padding-left: var(--space-50) !important;
    }
    .pad-left-tab-55 {
        padding-left: var(--space-55) !important;
    }
    .pad-left-tab-60 {
        padding-left: var(--space-60) !important;
    }
    .pad-ver-tab-5 {
        padding-top: var(--space-5) !important;
        padding-bottom: var(--space-5) !important;
    }
    .pad-ver-tab-10 {
        padding-top: var(--space-10) !important;
        padding-bottom: var(--space-10) !important;
    }
    .pad-ver-tab-15 {
        padding-top: var(--space-15) !important;
        padding-bottom: var(--space-15) !important;
    }
    .pad-ver-tab-20 {
        padding-top: var(--space-20) !important;
        padding-bottom: var(--space-20) !important;
    }
    .pad-ver-tab-25 {
        padding-top: var(--space-25) !important;
        padding-bottom: var(--space-25) !important;
    }
    .pad-ver-tab-30 {
        padding-top: var(--space-30) !important;
        padding-bottom: var(--space-30) !important;
    }
    .pad-ver-tab-35 {
        padding-top: var(--space-35) !important;
        padding-bottom: var(--space-35) !important;
    }
    .pad-ver-tab-40 {
        padding-top: var(--space-40) !important;
        padding-bottom: var(--space-40) !important;
    }
    .pad-ver-tab-45 {
        padding-top: var(--space-45) !important;
        padding-bottom: var(--space-45) !important;
    }
    .pad-ver-tab-50 {
        padding-top: var(--space-50) !important;
        padding-bottom: var(--space-50) !important;
    }
    .pad-ver-tab-55 {
        padding-top: var(--space-55) !important;
        padding-bottom: var(--space-55) !important;
    }
    .pad-ver-tab-60 {
        padding-top: var(--space-60) !important;
        padding-bottom: var(--space-60) !important;
    }
    .pad-hor-tab-5-0 {
        padding-left: var(--space-5) !important;
        padding-right: var(--space-5) !important;
    }
    .pad-hor-tab-10 {
        padding-left: var(--space-10) !important;
        padding-right: var(--space-10) !important;
    }
    .pad-hor-tab-15 {
        padding-left: var(--space-15) !important;
        padding-right: var(--space-15) !important;
    }
    .pad-hor-tab-20 {
        padding-left: var(--space-20) !important;
        padding-right: var(--space-20) !important;
    }
    .pad-hor-tab-25 {
        padding-left: var(--space-25) !important;
        padding-right: var(--space-25) !important;
    }
    .pad-hor-tab-30 {
        padding-left: var(--space-30) !important;
        padding-right: var(--space-30) !important;
    }
    .pad-hor-tab-35 {
        padding-left: var(--space-35) !important;
        padding-right: var(--space-35) !important;
    }
    .pad-hor-tab-40 {
        padding-left: var(--space-40) !important;
        padding-right: var(--space-40) !important;
    }
    .pad-hor-tab-45 {
        padding-left: var(--space-45) !important;
        padding-right: var(--space-45) !important;
    }
    .pad-hor-tab-50 {
        padding-left: var(--space-50) !important;
        padding-right: var(--space-50) !important;
    }
    .pad-hor-tab-55 {
        padding-left: var(--space-55) !important;
        padding-right: var(--space-55) !important;
    }
    .pad-hor-tab-60 {
        padding-left: var(--space-60) !important;
        padding-right: var(--space-60) !important;
    }
    .mar-tab-0 {
        margin: var(--space-0) !important;
    }
    .mar-tab-5 {
        margin: var(--space-5) !important;
    }
    .mar-tab-10 {
        margin: var(--space-10) !important;
    }
    .mar-tab-15 {
        margin: var(--space-15) !important;
    }
    .mar-tab-20 {
        margin: var(--space-20) !important;
    }
    .mar-tab-25 {
        margin: var(--space-25) !important;
    }
    .mar-tab-30 {
        margin: var(--space-30) !important;
    }
    .mar-tab-35 {
        margin: var(--space-35) !important;
    }
    .mar-tab-40 {
        margin: var(--space-40) !important;
    }
    .mar-tab-45 {
        margin: var(--space-45) !important;
    }
    .mar-tab-50 {
        margin: var(--space-50) !important;
    }
    .mar-tab-55 {
        margin: var(--space-55) !important;
    }
    .mar-tab-60 {
        margin: var(--space-60) !important;
    }
    .mar-top-tab-0 {
        margin-top: var(--space-0) !important;
    }
    .mar-top-tab-5 {
        margin-top: var(--space-5) !important;
    }
    .mar-top-tab-10 {
        margin-top: var(--space-10) !important;
    }
    .mar-top-tab-15 {
        margin-top: var(--space-15) !important;
    }
    .mar-top-tab-20 {
        margin-top: var(--space-20) !important;
    }
    .mar-top-tab-25 {
        margin-top: var(--space-25) !important;
    }
    .mar-top-tab-30 {
        margin-top: var(--space-30) !important;
    }
    .mar-top-tab-35 {
        margin-top: var(--space-35) !important;
    }
    .mar-top-tab-40 {
        margin-top: var(--space-40) !important;
    }
    .mar-top-tab-45 {
        margin-top: var(--space-45) !important;
    }
    .mar-top-tab-50 {
        margin-top: var(--space-50) !important;
    }
    .mar-top-tab-55 {
        margin-top: var(--space-55) !important;
    }
    .mar-top-tab-60 {
        margin-top: var(--space-60) !important;
    }
    .mar-right-tab-0 {
        margin-right: var(--space-0) !important;
    }
    .mar-right-tab-5 {
        margin-right: var(--space-5) !important;
    }
    .mar-right-tab-10 {
        margin-right: var(--space-10) !important;
    }
    .mar-right-tab-15 {
        margin-right: var(--space-15) !important;
    }
    .mar-right-tab-20 {
        margin-right: var(--space-20) !important;
    }
    .mar-right-tab-25 {
        margin-right: var(--space-25) !important;
    }
    .mar-right-tab-30 {
        margin-right: var(--space-30) !important;
    }
    .mar-right-tab-35 {
        margin-right: var(--space-35) !important;
    }
    .mar-right-tab-40 {
        margin-right: var(--space-40) !important;
    }
    .mar-right-tab-45 {
        margin-right: var(--space-45) !important;
    }
    .mar-right-tab-50 {
        margin-right: var(--space-50) !important;
    }
    .mar-right-tab-55 {
        margin-right: var(--space-55) !important;
    }
    .mar-right-tab-60 {
        margin-right: var(--space-60) !important;
    }
    .mar-bottom-tab-0 {
        margin-bottom: var(--space-0) !important;
    }
    .mar-bottom-tab-5 {
        margin-bottom: var(--space-5) !important;
    }
    .mar-bottom-tab-10 {
        margin-bottom: var(--space-10) !important;
    }
    .mar-bottom-tab-15 {
        margin-bottom: var(--space-15) !important;
    }
    .mar-bottom-tab-20 {
        margin-bottom: var(--space-20) !important;
    }
    .mar-bottom-tab-25 {
        margin-bottom: var(--space-25) !important;
    }
    .mar-bottom-tab-30 {
        margin-bottom: var(--space-30) !important;
    }
    .mar-bottom-tab-35 {
        margin-bottom: var(--space-35) !important;
    }
    .mar-bottom-tab-40 {
        margin-bottom: var(--space-40) !important;
    }
    .mar-bottom-tab-45 {
        margin-bottom: var(--space-45) !important;
    }
    .mar-bottom-tab-50 {
        margin-bottom: var(--space-50) !important;
    }
    .mar-bottom-tab-55 {
        margin-bottom: var(--space-55) !important;
    }
    .mar-bottom-tab-60 {
        margin-bottom: var(--space-60) !important;
    }
    .mar-left-tab-0 {
        margin-left: var(--space-0) !important;
    }
    .mar-left-tab-5 {
        margin-left: var(--space-5) !important;
    }
    .mar-left-tab-10 {
        margin-left: var(--space-10) !important;
    }
    .mar-left-tab-15 {
        margin-left: var(--space-15) !important;
    }
    .mar-left-tab-20 {
        margin-left: var(--space-20) !important;
    }
    .mar-left-tab-25 {
        margin-left: var(--space-25) !important;
    }
    .mar-left-tab-30 {
        margin-left: var(--space-30) !important;
    }
    .mar-left-tab-35 {
        margin-left: var(--space-35) !important;
    }
    .mar-left-tab-40 {
        margin-left: var(--space-40) !important;
    }
    .mar-left-tab-45 {
        margin-left: var(--space-50) !important;
    }
    .mar-left-tab-50 {
        margin-left: var(--space-50) !important;
    }
    .mar-left-tab-55 {
        margin-left: var(--space-55) !important;
    }
    .mar-left-tab-60 {
        margin-left: var(--space-60) !important;
    }
    .mar-ver-tab-5 {
        margin-top: var(--space-5) !important;
        margin-bottom: var(--space-5) !important;
    }
    .mar-ver-tab-10 {
        margin-top: var(--space-10) !important;
        margin-bottom: var(--space-10) !important;
    }
    .mar-ver-tab-15 {
        margin-top: var(--space-15) !important;
        margin-bottom: var(--space-15) !important;
    }
    .mar-ver-tab-20 {
        margin-top: var(--space-20) !important;
        margin-bottom: var(--space-20) !important;
    }
    .mar-ver-tab-25 {
        margin-top: var(--space-25) !important;
        margin-bottom: var(--space-25) !important;
    }
    .mar-ver-tab-30 {
        margin-top: var(--space-30) !important;
        margin-bottom: var(--space-30) !important;
    }
    .mar-ver-tab-35 {
        margin-top: var(--space-35) !important;
        margin-bottom: var(--space-35) !important;
    }
    .mar-ver-tab-40 {
        margin-top: var(--space-40) !important;
        margin-bottom: var(--space-40) !important;
    }
    .mar-ver-tab-45 {
        margin-top: var(--space-45) !important;
        margin-bottom: var(--space-45) !important;
    }
    .mar-ver-tab-50 {
        margin-top: var(--space-50) !important;
        margin-bottom: var(--space-50) !important;
    }
    .mar-ver-tab-55 {
        margin-top: var(--space-55) !important;
        margin-bottom: var(--space-55) !important;
    }
    .mar-ver-tab-60 {
        margin-top: var(--space-60) !important;
        margin-bottom: var(--space-60) !important;
    }
    .mar-hor-tab-5 {
        margin-left: var(--space-5) !important;
        margin-right: var(--space-5) !important;
    }
    .mar-hor-tab-10 {
        margin-left: var(--space-10) !important;
        margin-right: var(--space-10) !important;
    }
    .mar-hor-tab-15 {
        margin-left: var(--space-15) !important;
        margin-right: var(--space-15) !important;
    }
    .mar-hor-tab-20 {
        margin-left: var(--space-20) !important;
        margin-right: var(--space-20) !important;
    }
    .mar-hor-tab-25 {
        margin-left: var(--space-25) !important;
        margin-right: var(--space-25) !important;
    }
    .mar-hor-tab-30 {
        margin-left: var(--space-30) !important;
        margin-right: var(--space-30) !important;
    }
    .mar-hor-tab-35 {
        margin-left: var(--space-35) !important;
        margin-right: var(--space-35) !important;
    }
    .mar-hor-tab-40 {
        margin-left: var(--space-40) !important;
        margin-right: var(--space-40) !important;
    }
    .mar-hor-tab-45 {
        margin-left: var(--space-45) !important;
        margin-right: var(--space-45) !important;
    }
    .mar-hor-tab-50 {
        margin-left: var(--space-50) !important;
        margin-right: var(--space-50) !important;
    }
    .mar-hor-tab-55 {
        margin-left: var(--space-55) !important;
        margin-right: var(--space-55) !important;
    }
    .mar-hor-tab-60 {
        margin-left: var(--space-60) !important;
        margin-right: var(--space-60) !important;
    }
    .gap-tab-0 {
        gap: var(--space-0) !important;
    }
    .gap-tab-5 {
        gap: var(--space-5) !important;
    }
    .gap-tab-10 {
        gap: var(--space-10) !important;
    }
    .gap-tab-15 {
        gap: var(--space-15) !important;
    }
    .gap-tab-20 {
        gap: var(--space-20) !important;
    }
    .gap-tab-25 {
        gap: var(--space-25) !important;
    }
    .gap-tab-30 {
        gap: var(--space-30) !important;
    }
    .gap-tab-35 {
        gap: var(--space-35) !important;
    }
    .gap-tab-40 {
        gap: var(--space-40) !important;
    }
    .gap-tab-45 {
        gap: var(--space-45) !important;
    }
    .gap-tab-50 {
        gap: var(--space-50) !important;
    }
    .gap-tab-55 {
        gap: var(--space-55) !important;
    }
    .gap-tab-60 {
        gap: var(--space-60) !important;
    }
    .row-gap-tab-0 {
        row-gap: var(--space-0) !important;
    }
    .row-gap-tab-5 {
        row-gap: var(--space-5) !important;
    }
    .row-gap-tab-10 {
        row-gap: var(--space-10) !important;
    }
    .row-gap-tab-15 {
        row-gap: var(--space-15) !important;
    }
    .row-gap-tab-20 {
        row-gap: var(--space-20) !important;
    }
    .row-gap-tab-25 {
        row-gap: var(--space-25) !important;
    }
    .row-gap-tab-30 {
        row-gap: var(--space-30) !important;
    }
    .row-gap-tab-35 {
        row-gap: var(--space-35) !important;
    }
    .row-gap-tab-40 {
        row-gap: var(--space-40) !important;
    }
    .row-gap-tab-45 {
        row-gap: var(--space-45) !important;
    }
    .row-gap-tab-50 {
        row-gap: var(--space-50) !important;
    }
    .row-gap-tab-55 {
        row-gap: var(--space-55) !important;
    }
    .row-gap-tab-60 {
        row-gap: var(--space-60) !important;
    }
    .col-gap-tab-0 {
        column-gap: var(--space-0) !important;
    }
    .col-gap-tab-5 {
        column-gap: var(--space-5) !important;
    }
    .col-gap-tab-10 {
        column-gap: var(--space-10) !important;
    }
    .col-gap-tab-15 {
        column-gap: var(--space-15) !important;
    }
    .col-gap-tab-20 {
        column-gap: var(--space-20) !important;
    }
    .col-gap-tab-25 {
        column-gap: var(--space-25) !important;
    }
    .col-gap-tab-30 {
        column-gap: var(--space-30) !important;
    }
    .col-gap-tab-35 {
        column-gap: var(--space-35) !important;
    }
    .col-gap-tab-40 {
        column-gap: var(--space-40) !important;
    }
    .col-gap-tab-45 {
        column-gap: var(--space-45) !important;
    }
    .col-gap-tab-50 {
        column-gap: var(--space-50) !important;
    }
    .col-gap-tab-55 {
        column-gap: var(--space-55) !important;
    }
    .col-gap-tab-60 {
        column-gap: var(--space-60) !important;
    }
    .height-tab-0 {
        height: var(--space-0) !important;
    }
    .height-tab-5 {
        height: var(--space-5) !important;
    }
    .height-tab-10 {
        height: var(--space-10) !important;
    }
    .height-tab-15 {
        height: var(--space-15) !important;
    }
    .height-tab-20 {
        height: var(--space-20) !important;
    }
    .height-tab-25 {
        height: var(--space-25) !important;
    }
    .height-tab-30 {
        height: var(--space-30) !important;
    }
    .height-tab-35 {
        height: var(--space-35) !important;
    }
    .height-tab-40 {
        height: var(--space-40) !important;
    }
    .height-tab-45 {
        height: var(--space-45) !important;
    }
    .height-tab-50 {
        height: var(--space-50) !important;
    }
    .height-tab-55 {
        height: var(--space-55) !important;
    }
    .height-tab-60 {
        height: var(--space-60) !important;
    }
    .height-tab-70 {
        height: var(--space-70) !important;
    }
    .height-tab-80 {
        height: var(--space-80) !important;
    }
    .height-tab-90 {
        height: var(--space-90) !important;
    }
    .height-tab-100 {
        height: var(--space-100) !important;
    }
    .swap-col-on-tab {
        flex-direction: column-reverse;
    }
    .swap-row-on-tab {
        flex-direction: row-reverse;
    }
    .grid-4-col-tab {
        grid-template-columns: repeat(4,1fr) !important;
        display: grid !important;
    }
    .grid-3-col-tab {
        grid-template-columns: 1fr 1fr 1fr !important;
        display: grid !important;
    }
    .grid-2-col-tab {
        grid-template-columns: 1fr 1fr !important;
        display: grid !important;
    }
    .grid-1-col-tab {
        grid-template-columns: 1fr !important;
        display: grid !important;
    }
    .display-none {
        display: none;
    }
    .visible {
        visibility: visible;
    }
    .hidden {
        visibility: hidden;
    }
    .overflow-hidden {
        overflow: hidden;
    }
    .overflow-auto {
        overflow: auto;
    }
    .overflow-x-hidden {
        overflow-x: hidden;
    }
    .overflow-x-auto {
        overflow-x: auto;
    }
    .overflow-y-hidden {
        overflow-y: hidden;
    }
    .overflow-y-auto {
        overflow-y: auto;
    }
    .list-none {
        list-style-type: none;
    }
    .white-space-nowrap {
        white-space: nowrap;
    }
    .transition-global {
        transition: all 0.3s;
    }
    .display-none-tab {
        display: none !important;
    }
    .show-tab {
        display: inherit !important;
    }
    .visible-tab {
        visibility: visible !important;
    }
    .hidden-tab {
        visibility: hidden !important;
    }
    .overflow-hidden-tab {
        overflow: hidden !important;
    }
    .overflow-auto-tab {
        overflow: auto !important;
    }
    .overflow-x-hidden-tab {
        overflow-x: hidden !important;
    }
    .overflow-x-auto-tab {
        overflow-x: auto !important;
    }
    .overflow-y-hidden-tab {
        overflow-y: hidden !important;
    }
    .overflow-y-auto-tab {
        overflow-y: auto !important;
    }
    .list-none-tab {
        list-style-type: none !important;
    }
    .white-space-nowrap-tab {
        white-space: nowrap !important;
    }
    .transition-global-tab {
        transition: all 0.3s !important;
    }
    .text-left-tab {
        text-align: left;
    }

    .text-center-tab {
        text-align: center;
    }

    .text-right-tab {
        text-align: right;
    }

    .justify-start-tab {
        justify-content: flex-start;
    }

    .justify-center-tab {
        text-align: center;
    }

    .justify-end-tab {
        justify-content: flex-end;
    }

    .line-h-tab-0-5 {
        line-height: 0.5;
    }

    .line-h-tab-0-6 {
        line-height: 0.6;
    }

    .line-h-tab-0-7 {
        line-height: 0.7;
    }

    .line-h-tab-0-8 {
        line-height: 0.8;
    }

    .line-h-tab-0-9 {
        line-height: 0.9;
    }

    .line-h-tab-1 {
        line-height: 1;
    }

    .line-h-tab-1-1 {
        line-height: 1.1;
    }

    .line-h-tab-1-2 {
        line-height: 1.2;
    }

    .line-h-tab-1-3 {
        line-height: 1.3;
    }

    .line-h-tab-1-4 {
        line-height: 1.4;
    }

    .line-h-tab-1-5 {
        line-height: 1.5;
    }

    .line-h-tab-1-6 {
        line-height: 1.6;
    }

    .line-h-tab-1-7 {
        line-height: 1.7;
    }

    .line-h-tab-1-8 {
        line-height: 1.8;
    }

    .line-h-tab-1-9 {
        line-height: 1.9;
    }

    .line-h-tab-2 {
        line-height: 2;
    }

    .img-wdth-tab-50per > img {
        max-width: 50%;
    }

    .img-wdth-tab-60per > img {
        max-width: 60%;
    }

    .img-wdth-tab-70per > img {
        max-width: 70%;
    }

    .img-wdth-tab-80per > img {
        max-width: 80%;
    }

    .img-wdth-tab-90per > img {
        max-width: 90%;
    }

    .img-wdth-tab-100per > img {
        max-width: 100%;
    }


}
@media (max-width: 781px) {
    :root {
        --space-0: 0px;
        --space-5: 5px;
        --space-10: 10px;
        --space-15: 15px;
        --space-20: 20px;
        --space-25: 25px;
        --space-30: 30px;
        --space-35: 35px;
        --space-40: 40px;
        --space-45: 45px;
        --space-50: 50px;
        --space-55: 55px;
        --space-60: 60px;
        --fluid-16_24: clamp(1rem, calc(-1.38vw + 2.02rem), 1.5rem);
        --space-70: 70px;
        --space-80: 80px;
        --space-90: 90px;
        --space-100: 100px;
    }
    .font-mob-12px {
        font-size: 12px !important;
    }
    .font-mob-14px {
        font-size: 14px !important;
    }
    .font-mob-16px {
        font-size: 16px !important;
    }
    .font-mob-18px {
        font-size: 18px !important;
    }
    .font-mob-20px {
        font-size: 20px !important;
    }
    .font-mob-22px {
        font-size: 22px !important;
    }
    .font-mob-24px {
        font-size: 24px !important;
    }
    .font-mob-26px {
        font-size: 26px !important;
    }
    .font-mob-28px {
        font-size: 28px !important;
    }
    .font-mob-30px {
        font-size: 30px !important;
    }
    .font-mob-32px {
        font-size: 32px !important;
    }
    .font-mob-34px {
        font-size: 34px !important;
    }
    .font-mob-36px {
        font-size: 36px !important;
    }
    .font-mob-38px {
        font-size: 38px !important;
    }
    .font-mob-40px {
        font-size: 40px !important;
    }
    .font-mob-42px {
        font-size: 42px !important;
    }
    .font-mob-44px {
        font-size: 44px !important;
    }
    .font-mob-46px {
        font-size: 46px !important;
    }
    .font-mob-48px {
        font-size: 48px !important;
    }
    .font-mob-50px {
        font-size: 50px !important;
    }
    .font-mob-52px {
        font-size: 52px !important;
    }
    .font-mob-54px {
        font-size: 54px !important;
    }
    .font-mob-56px {
        font-size: 56px !important;
    }
    .font-mob-58px {
        font-size: 58px !important;
    }
    .font-mob-60px {
        font-size: 60px !important;
    }
    .font-mob-62px {
        font-size: 62px !important;
    }
    .font-mob-64px {
        font-size: 64px !important;
    }
    .font-mob-66px {
        font-size: 66px !important;
    }
    .font-mob-68px {
        font-size: 68px !important;
    }
    .font-mob-70px {
        font-size: 70px !important;
    }
    .font-mob-72px {
        font-size: 72px !important;
    }
    .font-mob-74px {
        font-size: 74px !important;
    }
    .font-mob-76px {
        font-size: 76px !important;
    }
    .font-mob-78px {
        font-size: 78px !important;
    }
    .font-mob-80px {
        font-size: 80px !important;
    }
    .font-mob-82px {
        font-size: 82px !important;
    }
    .font-mob-84px {
        font-size: 84px !important;
    }
    .font-mob-86px {
        font-size: 86px !important;
    }
    .font-mob-88px {
        font-size: 88px !important;
    }
    .font-mob-90px {
        font-size: 90px !important;
    }
    .pad-mob-0 {
        padding: var(--space-0) !important;
    }
    .pad-mob-5 {
        padding: var(--space-5) !important;
    }
    .pad-mob-10 {
        padding: var(--space-10) !important;
    }
    .pad-mob-15 {
        padding: var(--space-15) !important;
    }
    .pad-mob-20 {
        padding: var(--space-20) !important;
    }
    .pad-mob-25 {
        padding: var(--space-25) !important;
    }
    .pad-mob-30 {
        padding: var(--space-30) !important;
    }
    .pad-mob-35 {
        padding: var(--space-35) !important;
    }
    .pad-mob-40 {
        padding: var(--space-40) !important;
    }
    .pad-mob-45 {
        padding: var(--space-45) !important;
    }
    .pad-mob-50 {
        padding: var(--space-50) !important;
    }
    .pad-mob-55 {
        padding: var(--space-55) !important;
    }
    .pad-mob-60 {
        padding: var(--space-60) !important;
    }
    .pad-top-mob-0 {
        padding-top: var(--space-0) !important;
    }
    .pad-top-mob-5 {
        padding-top: var(--space-5) !important;
    }
    .pad-top-mob-10 {
        padding-top: var(--space-10) !important;
    }
    .pad-top-mob-15 {
        padding-top: var(--space-15) !important;
    }
    .pad-top-mob-20 {
        padding-top: var(--space-20) !important;
    }
    .pad-top-mob-25 {
        padding-top: var(--space-25) !important;
    }
    .pad-top-mob-30 {
        padding-top: var(--space-30) !important;
    }
    .pad-top-mob-35 {
        padding-top: var(--space-35) !important;
    }
    .pad-top-mob-40 {
        padding-top: var(--space-40) !important;
    }
    .pad-top-mob-45 {
        padding-top: var(--space-45) !important;
    }
    .pad-top-mob-50 {
        padding-top: var(--space-50) !important;
    }
    .pad-top-mob-55 {
        padding-top: var(--space-55) !important;
    }
    .pad-top-mob-60 {
        padding-top: var(--space-60) !important;
    }
    .pad-right-mob-0 {
        padding-right: var(--space-0) !important;
    }
    .pad-right-mob-5 {
        padding-right: var(--space-5) !important;
    }
    .pad-right-mob-10 {
        padding-right: var(--space-10) !important;
    }
    .pad-right-mob-15 {
        padding-right: var(--space-15) !important;
    }
    .pad-right-mob-20 {
        padding-right: var(--space-20) !important;
    }
    .pad-right-mob-25 {
        padding-right: var(--space-25) !important;
    }
    .pad-right-mob-30 {
        padding-right: var(--space-30) !important;
    }
    .pad-right-mob-35 {
        padding-right: var(--space-35) !important;
    }
    .pad-right-mob-40 {
        padding-right: var(--space-40) !important;
    }
    .pad-right-mob-45 {
        padding-right: var(--space-45) !important;
    }
    .pad-right-mob-50 {
        padding-right: var(--space-50) !important;
    }
    .pad-right-mob-55 {
        padding-right: var(--space-55) !important;
    }
    .pad-right-mob-60 {
        padding-right: var(--space-60) !important;
    }
    .pad-bottom-mob-0 {
        padding-bottom: var(--space-0) !important;
    }
    .pad-bottom-mob-5 {
        padding-bottom: var(--space-5) !important;
    }
    .pad-bottom-mob-10 {
        padding-bottom: var(--space-10) !important;
    }
    .pad-bottom-mob-15 {
        padding-bottom: var(--space-15) !important;
    }
    .pad-bottom-mob-20 {
        padding-bottom: var(--space-20) !important;
    }
    .pad-bottom-mob-25 {
        padding-bottom: var(--space-25) !important;
    }
    .pad-bottom-mob-30 {
        padding-bottom: var(--space-30) !important;
    }
    .pad-bottom-mob-35 {
        padding-bottom: var(--space-35) !important;
    }
    .pad-bottom-mob-40 {
        padding-bottom: var(--space-40) !important;
    }
    .pad-bottom-mob-45 {
        padding-bottom: var(--space-45) !important;
    }
    .pad-bottom-mob-50 {
        padding-bottom: var(--space-50) !important;
    }
    .pad-bottom-mob-55 {
        padding-bottom: var(--space-55) !important;
    }
    .pad-bottom-mob-60 {
        padding-bottom: var(--space-60) !important;
    }
    .pad-left-mob-0 {
        padding-left: var(--space-0) !important;
    }
    .pad-left-mob-5 {
        padding-left: var(--space-5) !important;
    }
    .pad-left-mob-10 {
        padding-left: var(--space-10) !important;
    }
    .pad-left-mob-15 {
        padding-left: var(--space-15) !important;
    }
    .pad-left-mob-20 {
        padding-left: var(--space-20) !important;
    }
    .pad-left-mob-25 {
        padding-left: var(--space-25) !important;
    }
    .pad-left-mob-30 {
        padding-left: var(--space-30) !important;
    }
    .pad-left-mob-35 {
        padding-left: var(--space-35) !important;
    }
    .pad-left-mob-40 {
        padding-left: var(--space-40) !important;
    }
    .pad-left-mob-45 {
        padding-left: var(--space-50) !important;
    }
    .pad-left-mob-50 {
        padding-left: var(--space-50) !important;
    }
    .pad-left-mob-55 {
        padding-left: var(--space-55) !important;
    }
    .pad-left-mob-60 {
        padding-left: var(--space-60) !important;
    }
    .pad-ver-mob-5 {
        padding-top: var(--space-5) !important;
        padding-bottom: var(--space-5) !important;
    }
    .pad-ver-mob-10 {
        padding-top: var(--space-10) !important;
        padding-bottom: var(--space-10) !important;
    }
    .pad-ver-mob-15 {
        padding-top: var(--space-15) !important;
        padding-bottom: var(--space-15) !important;
    }
    .pad-ver-mob-20 {
        padding-top: var(--space-20) !important;
        padding-bottom: var(--space-20) !important;
    }
    .pad-ver-mob-25 {
        padding-top: var(--space-25) !important;
        padding-bottom: var(--space-25) !important;
    }
    .pad-ver-mob-30 {
        padding-top: var(--space-30) !important;
        padding-bottom: var(--space-30) !important;
    }
    .pad-ver-mob-35 {
        padding-top: var(--space-35) !important;
        padding-bottom: var(--space-35) !important;
    }
    .pad-ver-mob-40 {
        padding-top: var(--space-40) !important;
        padding-bottom: var(--space-40) !important;
    }
    .pad-ver-mob-45 {
        padding-top: var(--space-45) !important;
        padding-bottom: var(--space-45) !important;
    }
    .pad-ver-mob-50 {
        padding-top: var(--space-50) !important;
        padding-bottom: var(--space-50) !important;
    }
    .pad-ver-mob-55 {
        padding-top: var(--space-55) !important;
        padding-bottom: var(--space-55) !important;
    }
    .pad-ver-mob-60 {
        padding-top: var(--space-60) !important;
        padding-bottom: var(--space-60) !important;
    }
    .pad-hor-mob-5 {
        padding-left: var(--space-5) !important;
        padding-right: var(--space-5) !important;
    }
    .pad-hor-mob-10 {
        padding-left: var(--space-10) !important;
        padding-right: var(--space-10) !important;
    }
    .pad-hor-mob-15 {
        padding-left: var(--space-15) !important;
        padding-right: var(--space-15) !important;
    }
    .pad-hor-mob-20 {
        padding-left: var(--space-20) !important;
        padding-right: var(--space-20) !important;
    }
    .pad-hor-mob-25 {
        padding-left: var(--space-25) !important;
        padding-right: var(--space-25) !important;
    }
    .pad-hor-mob-30 {
        padding-left: var(--space-30) !important;
        padding-right: var(--space-30) !important;
    }
    .pad-hor-mob-35 {
        padding-left: var(--space-35) !important;
        padding-right: var(--space-35) !important;
    }
    .pad-hor-mob-40 {
        padding-left: var(--space-40) !important;
        padding-right: var(--space-40) !important;
    }
    .pad-hor-mob-45 {
        padding-left: var(--space-45) !important;
        padding-right: var(--space-45) !important;
    }
    .pad-hor-mob-50 {
        padding-left: var(--space-50) !important;
        padding-right: var(--space-50) !important;
    }
    .pad-hor-mob-55- {
        padding-left: var(--space-55) !important;
        padding-right: var(--space-55) !important;
    }
    .pad-hor-mob-60 {
        padding-left: var(--space-60) !important;
        padding-right: var(--space-60) !important;
    }
    .mar-mob-0 {
        margin: var(--space-0) !important;
    }
    .mar-mob-5 {
        margin: var(--space-5) !important;
    }
    .mar-mob-10 {
        margin: var(--space-10) !important;
    }
    .mar-mob-15 {
        margin: var(--space-15) !important;
    }
    .mar-mob-20 {
        margin: var(--space-20) !important;
    }
    .mar-mob-25 {
        margin: var(--space-25) !important;
    }
    .mar-mob-30 {
        margin: var(--space-30) !important;
    }
    .mar-mob-35 {
        margin: var(--space-35) !important;
    }
    .mar-mob-40 {
        margin: var(--space-40) !important;
    }
    .mar-mob-45 {
        margin: var(--space-45) !important;
    }
    .mar-mob-50 {
        margin: var(--space-50) !important;
    }
    .mar-mob-55 {
        margin: var(--space-55) !important;
    }
    .mar-mob-60 {
        margin: var(--space-60) !important;
    }
    .mar-mob-tab-0 {
        margin-top: var(--space-0) !important;
    }
    .mar-mob-tab-5 {
        margin-top: var(--space-5) !important;
    }
    .mar-top-mob-10 {
        margin-top: var(--space-10) !important;
    }
    .mar-top-mob-15 {
        margin-top: var(--space-15) !important;
    }
    .mar-top-mob-20 {
        margin-top: var(--space-20) !important;
    }
    .mar-top-mob-25 {
        margin-top: var(--space-25) !important;
    }
    .mar-top-mob-30 {
        margin-top: var(--space-30) !important;
    }
    .mar-top-mob-35 {
        margin-top: var(--space-35) !important;
    }
    .mar-top-mob-40 {
        margin-top: var(--space-40) !important;
    }
    .mar-top-mob-45 {
        margin-top: var(--space-45) !important;
    }
    .mar-top-mob-50 {
        margin-top: var(--space-50) !important;
    }
    .mar-top-mob-55 {
        margin-top: var(--space-55) !important;
    }
    .mar-top-mob-60 {
        margin-top: var(--space-60) !important;
    }
    .mar-right-mob-0 {
        margin-right: var(--space-0) !important;
    }
    .mar-right-mob-5 {
        margin-right: var(--space-5) !important;
    }
    .mar-right-mob-10 {
        margin-right: var(--space-10) !important;
    }
    .mar-right-mob-15 {
        margin-right: var(--space-15) !important;
    }
    .mar-right-mob-20 {
        margin-right: var(--space-20) !important;
    }
    .mar-right-mob-25 {
        margin-right: var(--space-25) !important;
    }
    .mar-right-mob-30 {
        margin-right: var(--space-30) !important;
    }
    .mar-right-mob-35 {
        margin-right: var(--space-35) !important;
    }
    .mar-right-mob-40 {
        margin-right: var(--space-40) !important;
    }
    .mar-right-mob-45 {
        margin-right: var(--space-45) !important;
    }
    .mar-right-mob-50 {
        margin-right: var(--space-50) !important;
    }
    .mar-right-mob-55 {
        margin-right: var(--space-55) !important;
    }
    .mar-right-mob-60 {
        margin-right: var(--space-60) !important;
    }
    .mar-bottom-mob-0 {
        margin-bottom: var(--space-0) !important;
    }
    .mar-bottom-mob-5 {
        margin-bottom: var(--space-5) !important;
    }
    .mar-bottom-mob-10 {
        margin-bottom: var(--space-10) !important;
    }
    .mar-bottom-mob-15 {
        margin-bottom: var(--space-15) !important;
    }
    .mar-bottom-mob-20 {
        margin-bottom: var(--space-20) !important;
    }
    .mar-bottom-mob-25 {
        margin-bottom: var(--space-25) !important;
    }
    .mar-bottom-mob-30 {
        margin-bottom: var(--space-30) !important;
    }
    .mar-bottom-mob-35 {
        margin-bottom: var(--space-35) !important;
    }
    .mar-bottom-mob-40 {
        margin-bottom: var(--space-40) !important;
    }
    .mar-bottom-mob-45 {
        margin-bottom: var(--space-45) !important;
    }
    .mar-bottom-mob-50 {
        margin-bottom: var(--space-50) !important;
    }
    .mar-bottom-mob-55 {
        margin-bottom: var(--space-55) !important;
    }
    .mar-bottom-mob-60 {
        margin-bottom: var(--space-60) !important;
    }
    .mar-left-mob-0 {
        margin-left: var(--space-0) !important;
    }
    .mar-left-mob-5 {
        margin-left: var(--space-5) !important;
    }
    .mar-left-mob-10 {
        margin-left: var(--space-10) !important;
    }
    .mar-left-mob-15 {
        margin-left: var(--space-15) !important;
    }
    .mar-left-mob-20 {
        margin-left: var(--space-20) !important;
    }
    .mar-left-mob-25 {
        margin-left: var(--space-25) !important;
    }
    .mar-left-mob-30 {
        margin-left: var(--space-30) !important;
    }
    .mar-left-mob-35 {
        margin-left: var(--space-35) !important;
    }
    .mar-left-mob-40 {
        margin-left: var(--space-40) !important;
    }
    .mar-left-mob-45 {
        margin-left: var(--space-50) !important;
    }
    .mar-left-mob-50 {
        margin-left: var(--space-50) !important;
    }
    .mar-left-mob-55 {
        margin-left: var(--space-55) !important;
    }
    .mar-left-mob-60 {
        margin-left: var(--space-60) !important;
    }
    .mar-ver-mob-5 {
        margin-top: var(--space-5) !important;
        margin-bottom: var(--space-5) !important;
    }
    .mar-ver-mob-10 {
        margin-top: var(--space-10) !important;
        margin-bottom: var(--space-10) !important;
    }
    .mar-ver-mob-15 {
        margin-top: var(--space-15) !important;
        margin-bottom: var(--space-15) !important;
    }
    .mar-ver-mob-20 {
        margin-top: var(--space-20) !important;
        margin-bottom: var(--space-20) !important;
    }
    .mar-ver-mob-25 {
        margin-top: var(--space-25) !important;
        margin-bottom: var(--space-25) !important;
    }
    .mar-ver-mob-30 {
        margin-top: var(--space-30) !important;
        margin-bottom: var(--space-30) !important;
    }
    .mar-ver-mob-35 {
        margin-top: var(--space-35) !important;
        margin-bottom: var(--space-35) !important;
    }
    .mar-ver-mob-40 {
        margin-top: var(--space-40) !important;
        margin-bottom: var(--space-40) !important;
    }
    .mar-ver-mob-45 {
        margin-top: var(--space-45) !important;
        margin-bottom: var(--space-45) !important;
    }
    .mar-ver-mob-50 {
        margin-top: var(--space-50) !important;
        margin-bottom: var(--space-50) !important;
    }
    .mar-ver-mob-55 {
        margin-top: var(--space-55) !important;
        margin-bottom: var(--space-55) !important;
    }
    .mar-ver-mob-60 {
        margin-top: var(--space-60) !important;
        margin-bottom: var(--space-60) !important;
    }
    .mar-hor-mob-5 {
        margin-left: var(--space-5) !important;
        margin-right: var(--space-5) !important;
    }
    .mar-hor-mob-10 {
        margin-left: var(--space-10) !important;
        margin-right: var(--space-10) !important;
    }
    .mar-hor-mob-15 {
        margin-left: var(--space-15) !important;
        margin-right: var(--space-15) !important;
    }
    .mar-hor-mob-20 {
        margin-left: var(--space-20) !important;
        margin-right: var(--space-20) !important;
    }
    .mar-hor-mob-25 {
        margin-left: var(--space-25) !important;
        margin-right: var(--space-25) !important;
    }
    .mar-hor-mob-30- {
        margin-left: var(--space-30) !important;
        margin-right: var(--space-30) !important;
    }
    .mar-hor-mob-35 {
        margin-left: var(--space-35) !important;
        margin-right: var(--space-35) !important;
    }
    .mar-hor-mob-40 {
        margin-left: var(--space-40) !important;
        margin-right: var(--space-40) !important;
    }
    .mar-hor-mob-45 {
        margin-left: var(--space-45) !important;
        margin-right: var(--space-45) !important;
    }
    .mar-hor-mob-50 {
        margin-left: var(--space-50) !important;
        margin-right: var(--space-50) !important;
    }
    .mar-hor-mob-55 {
        margin-left: var(--space-55) !important;
        margin-right: var(--space-55) !important;
    }
    .mar-hor-mob-60 {
        margin-left: var(--space-60) !important;
        margin-right: var(--space-60) !important;
    }
    .gap-mob-0 {
        gap: var(--space-0) !important;
    }
    .gap-mob-5 {
        gap: var(--space-5) !important;
    }
    .gap-mob-10 {
        gap: var(--space-10) !important;
    }
    .gap-mob-15 {
        gap: var(--space-15) !important;
    }
    .gap-mob-20 {
        gap: var(--space-20) !important;
    }
    .gap-mob-25 {
        gap: var(--space-25) !important;
    }
    .gap-mob-30 {
        gap: var(--space-30) !important;
    }
    .gap-mob-35 {
        gap: var(--space-35) !important;
    }
    .gap-mob-40 {
        gap: var(--space-40) !important;
    }
    .gap-mob-45 {
        gap: var(--space-45) !important;
    }
    .gap-mob-50 {
        gap: var(--space-50) !important;
    }
    .gap-mob-55 {
        gap: var(--space-55) !important;
    }
    .gap-mob-60 {
        gap: var(--space-60) !important;
    }
    .row-gap-mob-0 {
        row-gap: var(--space-0) !important;
    }
    .row-gap-mob-5 {
        row-gap: var(--space-5) !important;
    }
    .row-gap-mob-10 {
        row-gap: var(--space-10) !important;
    }
    .row-gap-mob-15 {
        row-gap: var(--space-15) !important;
    }
    .row-gap-mob-20 {
        row-gap: var(--space-20) !important;
    }
    .row-gap-mob-25 {
        row-gap: var(--space-25) !important;
    }
    .row-gap-mob-30 {
        row-gap: var(--space-30) !important;
    }
    .row-gap-mob-35 {
        row-gap: var(--space-35) !important;
    }
    .row-gap-mob-40 {
        row-gap: var(--space-40) !important;
    }
    .row-gap-mob-45 {
        row-gap: var(--space-45) !important;
    }
    .row-gap-mob-50 {
        row-gap: var(--space-50) !important;
    }
    .row-gap-mob-55 {
        row-gap: var(--space-55) !important;
    }
    .row-gap-mob-60 {
        row-gap: var(--space-60) !important;
    }
    .col-gap-mob-0 {
        column-gap: var(--space-0) !important;
    }
    .col-gap-mob-5 {
        column-gap: var(--space-5) !important;
    }
    .col-gap-mob-10 {
        column-gap: var(--space-10) !important;
    }
    .col-gap-mob-15 {
        column-gap: var(--space-15) !important;
    }
    .col-gap-mob-20 {
        column-gap: var(--space-20) !important;
    }
    .col-gap-mob-25 {
        column-gap: var(--space-25) !important;
    }
    .col-gap-mob-30 {
        column-gap: var(--space-30) !important;
    }
    .col-gap-mob-35 {
        column-gap: var(--space-35) !important;
    }
    .col-gap-mob-40 {
        column-gap: var(--space-40) !important;
    }
    .col-gap-mob-45 {
        column-gap: var(--space-45) !important;
    }
    .col-gap-mob-50 {
        column-gap: var(--space-50) !important;
    }
    .col-gap-mob-55 {
        column-gap: var(--space-55) !important;
    }
    .col-gap-mob-60 {
        column-gap: var(--space-60) !important;
    }
    .fluid-pad-mob-16_24 {
        padding: var(--fluid-16_24) !important;
    }
    .height-mob-0 {
        height: var(--space-0) !important;
    }
    .height-mob-5 {
        height: var(--space-5) !important;
    }
    .height-mob-10 {
        height: var(--space-10) !important;
    }
    .height-mob-15 {
        height: var(--space-15) !important;
    }
    .height-mob-20 {
        height: var(--space-20) !important;
    }
    .height-mob-25 {
        height: var(--space-25) !important;
    }
    .height-mob-30 {
        height: var(--space-30) !important;
    }
    .height-mob-35 {
        height: var(--space-35) !important;
    }
    .height-mob-40 {
        height: var(--space-40) !important;
    }
    .height-mob-45 {
        height: var(--space-45) !important;
    }
    .height-mob-50 {
        height: var(--space-50) !important;
    }
    .height-mob-55 {
        height: var(--space-55) !important;
    }
    .height-mob-60 {
        height: var(--space-60) !important;
    }
    .height-mob-70 {
        height: var(--space-70) !important;
    }
    .height-mob-80 {
        height: var(--space-80) !important;
    }
    .height-mob-90 {
        height: var(--space-90) !important;
    }
    .height-mob-100 {
        height: var(--space-100) !important;
    }
    .swap-col-on-mob {
        flex-direction: column-reverse !important;
        overflow: clip;
    }
    .swap-row-on-mob {
        flex-direction: row-reverse !important;
        overflow: clip;
    }
    .grid-4-col-mob {
        grid-template-columns: repeat(4,1fr) !important;
        display: grid !important;
    }
    .grid-3-col-mob {
        grid-template-columns: 1fr 1fr 1fr !important;
        display: grid !important;
    }
    .grid-2-col-mob {
        grid-template-columns: 1fr 1fr !important;
        display: grid !important;
    }
    .grid-1-col-mob {
        grid-template-columns: 1fr !important;
        display: grid !important;
    }
    .display-none-mob {
        display: none !important;
    }
    .show-mob {
        display: inherit !important;
    }
    .visible-mob {
        visibility: visible !important;
    }
    .hidden-mob {
        visibility: hidden !important;
    }
    .overflow-hidden-mob {
        overflow: hidden !important;
    }
    .overflow-auto-mob {
        overflow: auto !important;
    }
    .overflow-x-hidden-mob {
        overflow-x: hidden !important;
    }
    .overflow-x-auto-mob {
        overflow-x: auto !important;
    }
    .overflow-y-hidden-mob {
        overflow-y: hidden !important;
    }
    .overflow-y-auto-mob {
        overflow-y: auto !important;
    }
    .list-none-mob {
        list-style-type: none !important;
    }
    .white-space-nowrap-mob {
        white-space: nowrap !important;
    }
    .transition-global-mob {
        transition: all 0.3s !important;
    }

    .text-left-mob {
        text-align: left;
    }

    .text-center-mob {
        text-align: center;
    }

    .text-right-mob {
        text-align: right;
    }

    .justify-start-mob {
        justify-content: flex-start;
    }

    .justify-center-mob {
        justify-content: center;
    }

    .justify-end-mob {
        justify-content: flex-end;
    }

    .line-h-mob-0-5 {
        line-height: 0.5;
    }

    .line-h-mob-0-6 {
        line-height: 0.6;
    }

    .line-h-mob-0-7 {
        line-height: 0.7;
    }

    .line-h-mob-0-8 {
        line-height: 0.8;
    }

    .line-h-mob-0-9 {
        line-height: 0.9;
    }

    .line-h-mob-1 {
        line-height: 1;
    }

    .line-h-mob-1-1 {
        line-height: 1.1;
    }

    .line-h-mob-1-2 {
        line-height: 1.2;
    }

    .line-h-mob-1-3 {
        line-height: 1.3;
    }

    .line-h-mob-1-4 {
        line-height: 1.4;
    }

    .line-h-mob-1-5 {
        line-height: 1.5;
    }

    .line-h-mob-1-6 {
        line-height: 1.6;
    }

    .line-h-mob-1-7 {
        line-height: 1.7;
    }

    .line-h-mob-1-8 {
        line-height: 1.8;
    }

    .line-h-mob-1-9 {
        line-height: 1.9;
    }

    .line-h-mob-2 {
        line-height: 2;
    }

    .img-wdth-mob-50per > img {
        max-width: 50%;
    }

    .img-wdth-mob-60per > img {
        max-width: 60%;
    }

    .img-wdth-mob-70per img {
        width: 70% ;
    }

    .img-wdth-mob-80per > img {
        max-width: 80%;
    }

    .img-wdth-mob-90per > img {
        max-width: 90%;
    }

    .img-wdth-mob-100per > img {
        max-width: 100%;
    }

}